  <footer class="footer">
        <div class="container">
            <div class="col-1">
                <img src="/img/logo-tugas-web.png" alt="">
                <p>Welcome Kuliner Nusantara</p>
            </div>
            <div class="col-2">
                <h3>Menu Nav</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Categories</a></li>
                </ul>
            </div>

            <div class="nama-kelompok">
              <h3>Nama Kelompok</h3>
              <ul>
                <li><a href="">Servanus</a></li>
                <li><a href="">Desmon</a></li>
                <li><a href="">Jingga</a></li>
                <li><a href="">Michell</a></li>
                <li><a href="">Mariono Silaban</a></li>
              </ul>
            </div>

        </div>
        <div class="footer-2">
            <p>© 2021 | Made with ❤️ by Mubashar Dev. All Rights Reserved.</p>
        </div>
    </footer>