<nav class="navbar">
  <div class="nav-container">

    <div class="logo">
      <img src="img/logo-tugas-web.png" alt="Logo">
    </div>

    <ul class="nav-menu">
      <li><a href="/joba-home.html">About</a></li>
      <li><a href="/joba-about.html">Menu</a></li>
      <li><a href="/joba-kontak.html">Contact</a></li>
    </ul>

    <a class="toggler-navbar" id="toggleBtn">
      <div class="hamburger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </a>

  </div>
</nav>

<div class="nav-overlay"></div>


